body{
    background: #f9eedc;
    font-family: verdana;
}


* {
  box-sizing: border-box;
}

header{
    background: #ffa617;
    height: 7%;
    width:100%
}

header a{
    text-decoration: none;
    line-height: 70px
}

#menu{
    margin: 0 auto;
    height: 100%;
    display : flex;
    justify-content: left;
    margin-left: 2%;
    margin-right:2%
}

.top-button{
    margin-right: 5%;
    font-size: 85%;
}

#corps{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10%
}
#texte-photo {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  line-height: 120%;
  margin-bottom: 20px;
}

#photo_accueil{
    width: 320px;
    margin-bottom: 10px;
    margin-right: 20px
}

#contact{
    line-height: 120%;
    
}

#corps_doc{
    margin: 30px 40px;
    line-height: 150%
}

.doc-list{
    margin-left:15px
}

.doc-list a{
    text-decoration: none;
}

#corps_ens{
    margin: 30px 40px;
    line-height: 150%
}

.doc{
    text-decoration: none
}

.nom{
    text-decoration: underline
}