body{
    background: #f9eedc;
    font-family: verdana;
}

header{
    background: #ffa617;
    width: 100%;
    height: 90px
}

header a{
    text-decoration: none;
    line-height: 80px
}

#menu{
    width: 100%;
    margin: 0 auto;
    height: 100%
}

.top-button{
    margin-left: 3%
}

#corps{
    width: 80%;
    height: 100%;
    margin: 30px 30px
}
#texte-photo {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  line-height: 120%;
}

#photo_accueil{
    width: 320px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#contact{
    line-height: 120%;
    margin-top: 10px;
}

#corps_doc{
    margin: 30px 40px;
    line-height: 150%
}

#corps_ens{
    margin: 30px 40px;
    line-height: 150%
}