body{
    background: #f9eedc;
    font-family: verdana;
}

* {
  box-sizing: border-box;
}

header{
    background: #ffa617;
    height: 90px
}

header a{
    text-decoration: none;
    line-height: 80px
}

#menu{
    margin: 0 auto;
    height: 100%;
    display : flex;
    justify-content: left;
    margin-left: 2%;
    margin-right:2%
}

.top-button{
    margin-right: 2%
}

#corps{
    margin-top: 20px;
    margin-left: 20px
}
#texte-photo {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  line-height: 120%;
  margin-bottom: 20px;
}

#photo_accueil{
    width: 320px;
    margin-bottom: 10px;
    margin-right: 20px
}

#contact{
    line-height: 120%;
    
}

#corps_doc{
    margin: 30px 40px;
    line-height: 150%
}

#corps_ens{
    margin: 30px 40px;
    line-height: 150%
}