body{
    background: #f9eedc
}

header{
    background: #ffa617;
    width: 100%;
    height: 90px
}

header a{
    text-decoration: none;
    line-height: 80px
}

#menu{
    width: 1200px;
    margin: 0 auto;
    height: 100%
}

.top-button{
    margin-left: 60px
}

#corps{
    width: 60%
}
